.row::after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 30%;
  padding: 15px;
  /* margin-right:10px ; */
}
.div-border {
  border: 2px solid red;
}
.center {
  text-align: center;
}
img {
  float: right;
}
.clear {
  clear: both;
}
.div1 {
  height: 200px;
  width: 300px;
  border: 2px solid red;
  box-sizing: border-box;
}
.div2 {
  box-sizing: content-box;
  width: 100%;
  border: solid #5b6dcd 10px;
  padding: 5px;
}
